
8°Periodo/Mineracao de dados/Exercicios/exercicio-1/aula2/aula02-mineracao-de-dados/main.ipynb
8°Periodo/Mineracao de dados/Exercicios/exercicio-1/aula2/aula02-mineracao-de-dados/archive/all_indices_data.csv
*.csv
8°Periodo/Mineracao de dados/Exercicios/exercicio-1/aula2/aula02-mineracao-de-dados/main.ipynb
