.notaAzul{
    color: blue;
}

.faltaAzul{
    color: blue;
}

.notaVermelha{
    color: red;
}

.faltaVermelha{
    color: red;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
}


.header {
    background-color: blue; 
    color: white; 
    text-align: center; 
    padding: 20px; 
}


.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.bimestre {
    margin-bottom: 40px; 
}


.bimestre label {
    display: block; 
    font-weight: bold; 
    margin-top: 10px;
}


.bimestre input[type="number"] {
    width: 50%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 5px; 
}


.botao input {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}


.resultado {
    margin-top: 20px; 
}


.resultado p {
    margin: 5px 0; 
}
