body {
    background-color: black;
    color: white; /* Definindo a cor do texto como branco */
    font-family: Arial, sans-serif; /* Escolha a fonte que desejar */
    margin: 0; /* Removendo margens padrão do body */
    padding: 0; /* Removendo padding padrão do body */
}

/* Estilizando o container do formulário */
div {
    text-align: center; /* Centralizando o texto */
    padding: 20px; /* Adicionando um espaço interno ao redor do conteúdo */
}

h1 {
    color: yellow;
}

label {
    display: block; /* Faz com que cada label ocupe uma linha inteira */
    color: yellow; /* Definindo a cor do texto das labels como amarelo */
    margin-bottom: 5px; /* Adicionando um espaço abaixo de cada label */
}

/* Estilizando os campos de entrada de texto */
input[type="text"],
input[type="number"],
input[type="file"] {
    width: 40%; /* Ocupando 100% da largura disponível */
    padding: 10px; /* Adicionando um espaço interno ao redor do campo */
    margin-bottom: 10px; /* Adicionando um espaço abaixo de cada campo */
    background-color: #333; /* Definindo a cor de fundo dos campos */
    border: none; /* Removendo a borda padrão */
    color: white; 
}

/* Estilizando o botão */
button {
    background-color: yellow; 
    color: black;
    padding: 10px 20px; 
    border: none;
    cursor: pointer; 
}

button:hover {
    background-color: #ffcc00; 
}
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
}