*{
    margin: 0;
    padding: 0;
}

#header{

    background-color: #768591;
    padding: 15px;
    text-align: center;

}

#logo{
    padding: 10px;
    color: #DEA800;
    font-size: 15px;
    cursor: pointer;
    font-weight: 900;
}



#menu{
    padding: 20px;
}

a{
    text-decoration: none;
    padding: 8px 12px;
    color: #363b3f;
    font-weight: 900;
}

a:hover{
    color: #AAB0B5;
}

.rodape{
    color: white;
}

.rodape_linha1{
    background-color: #272525;
    padding: 15px;
    text-align: center;


}

.rodape_coluna .logo1  {
    color: #DEA800;
    
}



.rodape_coluna .logo1:hover{
    color: #a37b00;
}



.rodape_linha2{
    background-color: #020202;
    text-align: center;
    padding: 15px;
}


.rodape_coluna{
    margin-top: 40px;
}

.rodape .logo1{
    margin-bottom: 20px;
}

.logo1 {
    list-style:none;
    font-size: 30px;
    color: #DEA800;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 29px;

}

.rodape_titulo{
    border-bottom: 1px solid whitesmoke;
    padding: 0 10px 10px 10px;
    font-size: 18px;
}

.rodape_lista-links{
    padding: 0;
    list-style: none;

}

.rodape_lista-links-item{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px ;
    display: block;
}

.rodape_lista-links-item::before{
    content: '>';
    margin-right: 8px;
    color: #EEEC00;
}



