
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de fundo e fonte para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Estilo para o título principal */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para o formulário */
.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para rótulos de input */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo para inputs de número */
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Estilo para o botão de calcular */
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: #0056b3;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para a mensagem de resultado */
#mostrar {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
