.container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type="button"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="button"]:hover{
    background-color: rgb(114, 188, 4);
}

.title{
    text-align: center;
}

#resultado {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}